/*---- GLOBAL-STYLING ----*/
/*------------------------*/

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #29292b;
    --primary-color-alpha: rgba(17, 17, 18, 0.5);
    --primary-color-alpha-less: rgba(17, 17, 18, 0.75);
    --primary-color-darker: rgb(3, 3, 3);
    --secondary-color: #eeeeee; 
}


body {
    position: relative;
    height: 100vh;

    font-family: 'Noto Serif', serif;
    font-size: 1.2rem;
    background: linear-gradient(var(--primary-color), var(--primary-color-darker));
    color: var(--secondary-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 1rem;
}

h3 {
    padding-bottom: 1rem;
}

ul {
    list-style-type: none;
    margin: 0 0 .2rem 0;
}

ul li {
    margin: .4rem 0 0 0;

    background-color: rgba(255, 255, 255, 0.5);
}

ul li::before {
    content: '[ ';
}
ul li::after {
    content: ' ]';
}

button, input {
    font-family: inherit;
    font-size: 100%;
    
    min-width: 1rem;
    border: none;
}

input {
    width: 80%;
    background-color: var(--secondary-color);
}

button {
    margin: 0rem 0 0 .5rem; 
    
    width: 20%;
    height: 1.7rem;
    border-radius: .5rem;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*---- GRID-CONTAINERS ----*/
/*-------------------------*/

.instructions-grid {
    z-index: 3;
    position: absolute;

    width: 100%;
    height: 100vh;
    background-color: var(--primary-color-alpha);

    grid-template-columns: 1rem 1fr 1rem;
    grid-template-areas: 
    ". instructions ."
}

.last-phase-grid {
    z-index: 3;
    position: absolute;

    width: 100%;
    height: 100vh;
    background-color: var(--primary-color-alpha-less);

    grid-template-columns: 1rem 1fr 1rem;
    grid-template-rows: 2.08fr 1fr;
    grid-template-areas: 
    ". chest ."
    ". . ."
}

.grid-container {
    
    width: 99vw;
    height: 99vh;

    display: grid;
    grid-template-columns: .6fr .5rem 1.2fr .5rem .6fr;
    grid-template-rows: .2fr 7fr .3fr .7fr .1fr;
    grid-row-gap: .5rem;
    grid-template-areas:
    ". . title . inventory"
    ". . description . inventory"
    "commands . items . inventory"
    "commands . action . locations"
    "commands . input . locations"
}

.inventory-grid-container {
    display: grid;
    grid-template-columns: .2fr 3fr;
    grid-template-rows: auto;
    grid-column-gap: .3rem;
    grid-row-gap: 1.8rem;
    grid-template-areas:
    "axeimg axedesc" 
    "painimg paindesc"
    "typeimg typedesc"
    "bindimg binddesc"
}

/*-------- GRID-ITEMS --------*/
/*------AREA-AND-STYLING------*/

.grid-item {
    justify-self: center;
    width: 100%;
    border-radius: .4rem;
    box-shadow: .3rem .3rem .3rem black;
    background-color: var(--secondary-color);
    color: var(--primary-color)
}

.inv-img {
    height: 5rem; 
    width: 5rem; 
    border-radius: .4rem;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: inset .4rem .4rem .3rem black;
}

.inv-desc h4, .inv-desc p {    
    background-color: var(--primary-color-alpha);
}

.inv-desc h4 {
    font-size: 1.2rem;
    margin-top: .2rem;
    width: 80%;
}

.inv-desc p {
    font-size: .9rem;
    margin-top: .1rem;
    width: 100%;
}

.grid-item > div {
    margin: 1rem 0 1rem 0;
    width: 94%;
}

.grid-item:not(.inventory) > div > div {
    width: 100%;
}

.instructions {
    grid-area: instructions;
    margin-top: 1rem;

    height: 90%;
}
.last-phase {
    grid-area: chest;
    margin-top: 1rem;

    width: 50%;
    height: 100%;
    border-radius: 40% 40% .4rem .4rem;
}

.adventure-title {
    grid-area: title;
    text-shadow: .3rem .3rem .3rem black;
}

.description {
    grid-area: description;
    position: relative;

    width: 100%;
    height:100%;
    max-height: 30rem;
    overflow: hidden;
    text-align: center;
    text-shadow: .3rem .3rem .3rem black;
}

.room-description {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    overflow-y: hidden; /*change to auto if need to be able to scroll manually*/
}

.room-description > div:not(:last-child) {
    margin-bottom: 30rem;
}

.room-description > div:last-child {
    margin-bottom: 20rem;
}

.room-description p {

    text-align: start;
    font-size: 1.2rem;

    animation: .8s ease-in .7s forwards slidein ;
}

.item-container {
    grid-area: items;
}

.room-items {
    margin: auto auto;
    text-align: center;
}

.room-items ul {
    display: flex;
    flex-wrap: wrap;
}

.room-items li {
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.15);
}
.room-items li:not(:last-child) {
    margin-right: 1rem
}

.inventory {
    grid-area: inventory;
}

.axe-img {
    grid-area: axeimg;
    max-width: 5rem;
}

.painting-img {
    grid-area: painimg;
}

.typewriter-img {
    grid-area: typeimg;
}

.binder-img {
    grid-area: bindimg;
}

.axe-desc {
    grid-area: axedesc;
}

.painting-desc {
    grid-area: paindesc;
}

.typewriter-desc {
    grid-area: typedesc;
}

.binder-desc {
    grid-area: binddesc;
}

.action {
    grid-area: action;
}

.user-input {
    grid-area: input;
    z-index: 3;
    border: 1px solid black;
}

.commands {
    grid-area: commands;
}

.locations {
    grid-area: locations;
    z-index: 2;
    position: relative;
}

.locations ul li {
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
}