* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #111112;
    --secondary-color: #eeeeee; 
}


body {
    font-family: 'Noto Serif', serif;
    font-size: 1.2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);

    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0 0 .2rem 0;
}

ul li {
    margin-top: .4rem;

    background-color: rgba(255, 255, 255, 0.5);
}

ul li::before {
    content: '[ ';
}
ul li::after {
    content: ' ]';
}

button, input {
    font-family: inherit;
    font-size: 100%;
    
    min-width: 1rem;
    border: none;
}

input {
    width: 80%;
}

button {
    margin: 0rem 0 0 .5rem; 
    
    width: 20%;
    height: 1.7rem;
    border-radius: .5rem;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid-container {
    
    width: 98%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr .2fr;
    grid-template-areas:
    "header header header header"
    "main main main main"
    "commands action action locations"
    "commands input input locations"
}

.grid-item {
    justify-self: center;
    margin: .5rem 1rem 0 1rem;
    
    width: 98%;
    border-radius: .4rem;
    box-shadow: .6rem .6rem .6rem black;
    background-color: var(--secondary-color);
    color: var(--primary-color)
}

.grid-item > div {
    margin: 1rem 0 1rem 0;
    width: 94%;
}

.grid-item div > div {
    width: 100%;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.action {
    grid-area: action;
    z-index: 1;
}

.user-input {
    grid-area: input;
    z-index: 1;
}

.commands {
    grid-area: commands;
}

.locations {
    grid-area: locations;
    z-index: 2;
    position: relative;
}

.locations ul li {
    margin-top: 1rem;
}